.container {
    max-width: 100%;
    padding: 0;
}

.card-content {
    border: none; 
    width: 260px;
    height: 700px;
    box-shadow: 0 4px 12px rgba(72, 72, 72, 0.1);
    border-radius: 30px !important;
}

.img-content{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.card-title{
    font-size: 18px !important;
}

.card-text {
    font-size: 10px;
}

.button-content{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.next-button-right {
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50px !important;
}

.next-button-left {
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50px !important;
    border: 1px solid rgb(224, 224, 224) !important;
}

